# Dates and Times

In [6]:
from datetime import datetime, timedelta
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
now = datetime.now()
now

datetime.datetime(2024, 6, 18, 15, 11, 39, 903326)

In [4]:
now.year, now.month, now.day

(2024, 6, 18)

In [5]:
delta = datetime(2011, 1, 7) - datetime(2008, 6, 24, 8, 15)
delta

datetime.timedelta(days=926, seconds=56700)

In [7]:
start = datetime(2011, 1, 7)

start + timedelta(12)

datetime.datetime(2011, 1, 19, 0, 0)

Formatting datetime objects:

In [8]:
str(start)

'2011-01-07 00:00:00'

<div id="tbl-table_datetime_formatting" class="anchored">
<table class="table">
<caption>Table&nbsp;11.2: <code>datetime</code> format specification (ISO C89 compatible)</caption>
<thead>
<tr class="header">
<th style="text-align: left;">Type</th>
<th style="text-align: left;">Description</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td style="text-align: left;"><code>%Y</code></td>
<td style="text-align: left;">Four-digit year</td>
</tr>
<tr class="even">
<td style="text-align: left;"><code>%y</code></td>
<td style="text-align: left;">Two-digit year</td>
</tr>
<tr class="odd">
<td style="text-align: left;"><code>%m</code></td>
<td style="text-align: left;">Two-digit month [01, 12]</td>
</tr>
<tr class="even">
<td style="text-align: left;"><code>%d</code></td>
<td style="text-align: left;">Two-digit day [01, 31]</td>
</tr>
<tr class="odd">
<td style="text-align: left;"><code>%H</code></td>
<td style="text-align: left;">Hour (24-hour clock) [00, 23]</td>
</tr>
<tr class="even">
<td style="text-align: left;"><code>%I</code></td>
<td style="text-align: left;">Hour (12-hour clock) [01, 12]</td>
</tr>
<tr class="odd">
<td style="text-align: left;"><code>%M</code></td>
<td style="text-align: left;">Two-digit minute [00, 59]</td>
</tr>
<tr class="even">
<td style="text-align: left;"><code>%S</code></td>
<td style="text-align: left;">Second [00, 61] (seconds 60, 61 account for leap seconds)</td>
</tr>
<tr class="odd">
<td style="text-align: left;"><code>%f</code></td>
<td style="text-align: left;">Microsecond as an integer, zero-padded (from 000000 to 999999)</td>
</tr>
<tr class="even">
<td style="text-align: left;"><code>%j</code></td>
<td style="text-align: left;">Day of the year as a zero-padded integer (from 001 to 336)</td>
</tr>
<tr class="odd">
<td style="text-align: left;"><code>%w</code></td>
<td style="text-align: left;">Weekday as an integer [0 (Sunday), 6]</td>
</tr>
<tr class="even">
<td style="text-align: left;"><code>%u</code></td>
<td style="text-align: left;">Weekday as an integer starting from 1, where 1 is Monday.</td>
</tr>
<tr class="odd">
<td style="text-align: left;"><code>%U</code></td>
<td style="text-align: left;">Week number of the year [00, 53]; Sunday is considered the first day of the week, and days before the first Sunday of the year are “week 0”</td>
</tr>
<tr class="even">
<td style="text-align: left;"><code>%W</code></td>
<td style="text-align: left;">Week number of the year [00, 53]; Monday is considered the first day of the week, and days before the first Monday of the year are “week 0”</td>
</tr>
<tr class="odd">
<td style="text-align: left;"><code>%z</code></td>
<td style="text-align: left;">UTC time zone offset as <code>+HHMM</code> or <code>-HHMM</code>; empty if time zone naive</td>
</tr>
<tr class="even">
<td style="text-align: left;"><code>%Z</code></td>
<td style="text-align: left;">Time zone name as a string, or empty string if no time zone</td>
</tr>
<tr class="odd">
<td style="text-align: left;"><code>%F</code></td>
<td style="text-align: left;">Shortcut for <code>%Y-%m-%d</code> (e.g., <code>2012-4-18</code>)</td>
</tr>
<tr class="even">
<td style="text-align: left;"><code>%D</code></td>
<td style="text-align: left;">Shortcut for <code>%m/%d/%y</code> (e.g., <code>04/18/12</code>)</td>
</tr>
</tbody>
</table>
</div>

In [9]:
now.strftime("%Y-%m-%d")

'2024-06-18'

`datetime` objects also have a number of locale-specific formatting options for systems in other countries or languages. For example, the abbreviated month names will be different on German or French systems compared with English systems. See Table 11.3 for a listing.

<div id="tbl-table_datetime_formatting_locale" class="anchored">
<table class="table">
<caption>Table&nbsp;11.3: Locale-specific date formatting</caption>
<thead>
<tr class="header">
<th style="text-align: left;">Type</th>
<th style="text-align: left;">Description</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td style="text-align: left;"><code>%a</code></td>
<td style="text-align: left;">Abbreviated weekday name</td>
</tr>
<tr class="even">
<td style="text-align: left;"><code>%A</code></td>
<td style="text-align: left;">Full weekday name</td>
</tr>
<tr class="odd">
<td style="text-align: left;"><code>%b</code></td>
<td style="text-align: left;">Abbreviated month name</td>
</tr>
<tr class="even">
<td style="text-align: left;"><code>%B</code></td>
<td style="text-align: left;">Full month name</td>
</tr>
<tr class="odd">
<td style="text-align: left;"><code>%c</code></td>
<td style="text-align: left;">Full date and time (e.g., ‘Tue 01 May 2012 04:20:57 PM’)</td>
</tr>
<tr class="even">
<td style="text-align: left;"><code>%p</code></td>
<td style="text-align: left;">Locale equivalent of AM or PM</td>
</tr>
<tr class="odd">
<td style="text-align: left;"><code>%x</code></td>
<td style="text-align: left;">Locale-appropriate formatted date (e.g., in the United States, May 1, 2012 yields ‘05/01/2012’)</td>
</tr>
<tr class="even">
<td style="text-align: left;"><code>%X</code></td>
<td style="text-align: left;">Locale-appropriate time (e.g., ‘04:24:12 PM’)</td>
</tr>
</tbody>
</table>
</div>

In [10]:
now.strftime("%A, %b, %p")

'Tuesday, Jun, PM'

#### Generating Date Ranges

In [16]:
dates = pd.date_range("2012-03-09 09:30", periods=6)

ts = pd.Series(np.random.standard_normal(len(dates)), index=dates)
ts

2012-03-09 09:30:00   -0.003219
2012-03-10 09:30:00    0.595169
2012-03-11 09:30:00    0.299114
2012-03-12 09:30:00   -1.711842
2012-03-13 09:30:00   -0.321497
2012-03-14 09:30:00    0.860591
Freq: D, dtype: float64

### Time Zones

Working with time zones can be one of the most unpleasant parts of time series manipulation. As a result, many time series users choose to work with time series in coordinated universal time or UTC, which is the geography-independent international standard. Time zones are expressed as offsets from UTC; for example, New York is four hours behind UTC during daylight saving time (DST) and five hours behind the rest of the year.

In Python, time zone information comes from the third-party `pytz` library (installable with pip or conda), which exposes the Olson database, a compilation of world time zone information. This is especially important for historical data because the DST transition dates (and even UTC offsets) have been changed numerous times depending on the regional laws. In the United States, the DST transition times have been changed many times since 1900!

For detailed information about the pytz library, you’ll need to look at that library’s documentation. pandas wraps pytz’s functionality so you can ignore its API outside of the time zone names. Since pandas has a hard dependency on pytz, it isn't necessary to install it separately. Time zone names can be found interactively and in the docs:

##### Time Zone Localization and Conversion

By default, time series in pandas are time zone agnostic.

In [15]:
print(ts.index.tz)

None

Date ranges can be generated with a time zone set:

In [ ]:
pd.date_range("2012-03-09 09:30", periods=10, tz="UTC")

Conversion from naive to localized (reinterpreted as having been observed in a particular time zone) is handled by the `tz_localize` method:

In [18]:
ts_utc = ts.tz_localize("UTC")
ts_utc

2012-03-09 09:30:00+00:00   -0.003219
2012-03-10 09:30:00+00:00    0.595169
2012-03-11 09:30:00+00:00    0.299114
2012-03-12 09:30:00+00:00   -1.711842
2012-03-13 09:30:00+00:00   -0.321497
2012-03-14 09:30:00+00:00    0.860591
Freq: D, dtype: float64

Once a time series has been localized to a particular time zone, it can be converted to another time zone with `tz_convert`:

In [19]:
ts_utc.tz_convert("America/New_York")

2012-03-09 04:30:00-05:00   -0.003219
2012-03-10 04:30:00-05:00    0.595169
2012-03-11 05:30:00-04:00    0.299114
2012-03-12 05:30:00-04:00   -1.711842
2012-03-13 05:30:00-04:00   -0.321497
2012-03-14 05:30:00-04:00    0.860591
Freq: D, dtype: float64